﻿@page
@model WebApplication2.Pages.RegistryModel
@{
    <form method="post">
        <p>Name: <input name="Name" size="40" value="@Model.user.Name" /></p>
        <p>EMail: <input name="Email" size="40" value="@Model.user.Email" /></p>
        <p>Phone: <input name="Phone" size="40" value="@Model.user.Phone" /></p>
        <input type="submit" value="Edit"/>
    </form>
}
